# macOS
.DS_Store

# Node
node_modules/

# Environment
.env
!.env.example

# TypeScript build
dist/

# Xcode
build/
DerivedData/
xcuserdata/
ios/StuffTracker.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
*.xcuserstate
*.moved-aside
*.hmap
*.ipa

# Claude
.claude
