<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>GIDClientID</key>
	<string>1018348991868-1oe0rr3l61huscj4eli4fj0e3baljvei.apps.googleusercontent.com</string>
	<key>NSCameraUsageDescription</key>
	<string>StuffTracker uses the camera to add photos to your items.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1018348991868-1oe0rr3l61huscj4eli4fj0e3baljvei</string>
			</array>
		</dict>
	</array>
	<key>NSLocalNetworkUsageDescription</key>
	<string>StuffTracker needs local network access to connect to the development server.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_http._tcp</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Dragged Item</string>
			<key>UTTypeIdentifier</key>
			<string>com.stufftracker.draggeditem</string>
			<key>UTTypeTagSpecification</key>
			<dict/>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Dragged Location</string>
			<key>UTTypeIdentifier</key>
			<string>com.stufftracker.draggedlocation</string>
			<key>UTTypeTagSpecification</key>
			<dict/>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Dragged Home</string>
			<key>UTTypeIdentifier</key>
			<string>com.stufftracker.draggedhome</string>
			<key>UTTypeTagSpecification</key>
			<dict/>
		</dict>
	</array>
</dict>
</plist>
